body { 
    background-color: lightskyblue;
    font-family: 'Special Elite', cursive;
} 

/* Grid areas */
.header {grid-area: header;}
.screen {grid-area: calculator-screen;}
.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six;}
.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}
.zeronumber {grid-area: zeronumber;}
.blank {grid-area: blank;}
.enter {grid-area: enter;}

/* Grid */
.grid-container {
    display: grid;
    grid-template-areas:
    'header header header'
    'calculator-screen calculator-screen calculator-screen'
    'one two three'
    'four five six'
    'seven eight nine'
    'blank zeronumber enter'
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vh;
    text-align: center;
    padding: 2vh;
    margin: 1vh 1vh 2vh 1vh;
    background-color: rgb(168, 168, 168);
}

.grid-container>button {
    background-color: darkblue;
    color: white;
    padding: 2vh;
    height: 10vh;
}

.grid-container .header{
    background-color: darkblue;
    color: white;
    padding: 2vh;
    height: 10vh;
}





/* Individual classes */
table {
    
    margin-left: auto;
    margin-right: auto;
}
table, th, tr {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.calculator-screen {
    text-align: center;
}
